<!doctype html>
<html>
<head>
	<title>Monogram</title>
	<style>
	.hide {
		display: none;
	}
	input[type=range] {
		width: 300px;
	}
    * {
        -webkit-user-select: none;
    }
	label {
		display: block;
	}
    #placeholder {
        border: 4px dashed #ccc;
        width: 292px;
        height: 200px;
    }
	</style>
    <script src="/jquery-1.7.2.min.js"></script>
    <!--
    Using this to account for iOS6 upload bugs
    https://github.com/gokercebeci/canvasResize
    which is made using these 2
    https://github.com/jseidelin/exif-js/blob/master/example/index.html
    https://github.com/stomita/ios-imagefile-megapixel
    -->
    <script src="/jquery.exif.js"></script>
    <script src="/jquery.canvasResize.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
	<p><input id="upload" type="file"></p>
    <div id="arena"><div id="placeholder"></div></div>
	<div id="controls" class="hide">
		<label><input id="bright-threshold" type="range" min="0" max="254" value="128"></label>
        <label>
            <select id="filter">
                <option selected value="dither_image">Floyd-Steinberg</option>
                <option value="threshold_image">Threshold</option>
                <option value="edge_threshold_image">Sobel + Threshold</option>
                <option value="bayer_image">Bayer</option>
            </select>
        </label>
        <p><button id="send-image">Send to DeskBot</button></p>
	</div>
</body>
<script src="/snap.js"></script>
</html>
